Repository ServerlesslyStack/Serverlessly, changes with the labels that .github/labeler.yml gives for each.
All labels: @serverlessly/core, @serverlessly/protocol-tcp

.github/labeler.yml:

'@serverlessly/core':
  - '@serverlessly/core/**/*'
'@serverlessly/protocol-tcp':
  - '@serverlessly/protocol-tcp/**/*'

feat(core): change definition of serverlessly protocol
  @serverlessly/core/__tests__/dummies/protocols.ts
  @serverlessly/core/__tests__/serverlessly.test.ts
  @serverlessly/core/lib/protocol.ts
  @serverlessly/core/lib/serverlessly.ts
Labels: @serverlessly/core

docs(core): add tsdoc for new protocol.name field
  @serverlessly/core/lib/protocol.ts
Labels: @serverlessly/core

docs(core): edit pull request template
  .github/pull_request_template.md
Labels: none

feat(core): allow protocol server configuration
  @serverlessly/core/__tests__/dummies/protocol-server-factories.ts
  @serverlessly/core/__tests__/dummies/protocol-servers.ts
  @serverlessly/core/__tests__/dummies/protocols.ts
  @serverlessly/core/__tests__/dummies/serverlessly.ts
  @serverlessly/core/__tests__/serverlessly-types.test.ts
  @serverlessly/core/__tests__/serverlessly.test.ts
  @serverlessly/core/lib/protocol.ts
  @serverlessly/core/lib/serverlessly.ts
Labels: @serverlessly/core

devops: enhance mergify config
  .github/mergify.yml
Labels: none

test(core): fix dummies used in tests
  @serverlessly/core/__tests__/dummies/protocol-server-factories.ts
  @serverlessly/core/__tests__/dummies/protocol-servers.ts
Labels: @serverlessly/core

test(core): add tests to complete coverage
  @serverlessly/core/__tests__/protocol.test.ts
Labels: @serverlessly/core

feat(core): allow protocol server configuration (#28)
  @serverlessly/core/__tests__/dummies/protocol-server-factories.ts
  @serverlessly/core/__tests__/dummies/protocol-servers.ts
  @serverlessly/core/__tests__/dummies/protocols.ts
  @serverlessly/core/__tests__/dummies/serverlessly.ts
  @serverlessly/core/__tests__/protocol.test.ts
  @serverlessly/core/__tests__/serverlessly-types.test.ts
  @serverlessly/core/__tests__/serverlessly.test.ts
  @serverlessly/core/lib/protocol.ts
  @serverlessly/core/lib/serverlessly.ts
Labels: @serverlessly/core

test(core): tweak test to use standard way without hack
  @serverlessly/core/__tests__/serverlessly.test.ts
Labels: @serverlessly/core

test(core): tweak test to use standard way without hack (#29)
  @serverlessly/core/__tests__/serverlessly.test.ts
Labels: @serverlessly/core

feat(protocol-tcp): add serverlessly protocol tcp
  @serverlessly/protocol-tcp/index.ts
  @serverlessly/protocol-tcp/lib/.gitkeep
  @serverlessly/protocol-tcp/lib/middleware-engine.ts
  @serverlessly/protocol-tcp/lib/middleware.ts
  @serverlessly/protocol-tcp/lib/protocol-context.ts
  @serverlessly/protocol-tcp/lib/server-factory.ts
  @serverlessly/protocol-tcp/lib/tcp.ts
Labels: @serverlessly/protocol-tcp

docs(core): add README file for core package
  @serverlessly/core/README.md
Labels: @serverlessly/core

docs(core): add README file for core package (#33)
  @serverlessly/core/README.md
Labels: @serverlessly/core

devops: add tsc config for production build
  .gitignore
  package.json
  tsconfig.build.json
  yarn.lock
Labels: none

devops: fix scripts for js-yaml breaking upgrade
  scripts/update-labeler.ts
  scripts/update-semantic.ts
Labels: none

feat(core): enforce Protocol Context to be function
  .eslintrc.js
  @serverlessly/core/__tests__/serverlessly.test.ts
  @serverlessly/core/lib/helpers/platform-handler.ts
  @serverlessly/core/lib/helpers/protocol-context.ts
  @serverlessly/core/lib/middleware-engine.ts
  @serverlessly/core/lib/platform-adapter.ts
  @serverlessly/core/lib/protocol.ts
  @serverlessly/core/lib/serverlessly.ts
Labels: @serverlessly/core

feat(core): enforce Protocol Context to be function (#43)
  .eslintrc.js
  @serverlessly/core/__tests__/serverlessly.test.ts
  @serverlessly/core/lib/helpers/platform-handler.ts
  @serverlessly/core/lib/helpers/protocol-context.ts
  @serverlessly/core/lib/middleware-engine.ts
  @serverlessly/core/lib/platform-adapter.ts
  @serverlessly/core/lib/protocol.ts
  @serverlessly/core/lib/serverlessly.ts
Labels: @serverlessly/core

devops: minor tweak to mergify config
  .github/mergify.yml
Labels: none

Revert "Merge branch 'main' into dependabot/npm_and_yarn/typescript-eslint/eslint-plugin-4.15.0"
  package.json
  yarn.lock
Labels: none

Revert "env: bump @typescript-eslint/eslint-plugin from 4.14.2 to 4.15.0 (#67)"
  package.json
  yarn.lock
Labels: none

Merge pull request #68 from ServerlesslyStack/revert-67-dependabot/npm_and_yarn/typescript-eslint/eslint-plugin-4.15.0
  package.json
  yarn.lock
Labels: none

env: bump @typescript-eslint/eslint-plugin from 4.14.2 to 4.15.0
  package.json
  yarn.lock
Labels: none

devops: add internal scaffolding tool
  .github/mergify.yml
  .husky/.gitignore
  package.json
  tools/scaffold/index.ts
  tools/scaffold/src/main.ts
  tools/scaffold/src/prompt-helpers.ts
  tools/scaffold/src/scaffold.ts
  tools/scaffold/src/state.ts
  tools/scaffold/templates/common/.npmignore
  tools/scaffold/templates/common/package.json
  tools/scaffold/templates/protocol/index.ts
  yarn.lock
Labels: none
