Repository ServerlesslyStack/Serverlessly, pull requests merged in 2021-02, with the labels that each got.

#68 Revert "env: bump @typescript-eslint/eslint-plugin from 4.14.2 to 4.15.0"
  package.json
  yarn.lock
Labels: by-core-team, pr-title-issue, squash

#93 fix: check whether input is array or not
  configs/lint-staged.config.js
Labels: approved, sensitive

#94 feat(core): rewrite protocol & internal architecture
  @serverlessly/core/README.md
  @serverlessly/core/__tests__/dummies/middleware-engines.ts
  @serverlessly/core/__tests__/dummies/platform-adapters.ts
  @serverlessly/core/__tests__/dummies/protocol-contexts.ts
  @serverlessly/core/__tests__/dummies/protocol-server-factories.ts
  @serverlessly/core/__tests__/dummies/protocol-servers.ts
  @serverlessly/core/__tests__/dummies/protocols.ts
  @serverlessly/core/__tests__/dummies/serverlessly.ts
  @serverlessly/core/__tests__/helpers/platform-handler.test.ts
  @serverlessly/core/__tests__/helpers/protocol-context.test.ts
  @serverlessly/core/__tests__/protocol.test.ts
  @serverlessly/core/__tests__/serverlessly-types.test.ts
  @serverlessly/core/__tests__/serverlessly.test.ts
  @serverlessly/core/__tests__/type-compatibility.md
  @serverlessly/core/lib/helpers/platform-handler.ts
  @serverlessly/core/lib/helpers/protocol-context.ts
  @serverlessly/core/lib/middleware-engine.ts
  @serverlessly/core/lib/platform-adapter.ts
  @serverlessly/core/lib/protocol.ts
  @serverlessly/core/lib/serverlessly.ts
  README.md
Labels: @serverlessly/core, by-core-team, critical-package, merge-in-progress, squash
